<div id="page" role="main">
            <article>
                <header>
                    <h2>Política de Cookies</h2>
                </header>
                <header>
                    <h4>¿Qué es una cookie?</h4>
                </header>
                <p>
                    La mayoria de los sitios web que visita usan cookies 
                    para mejorar su experiencia de usuario, permitiendo al 
                    sitio web que le 'recuerde', ya sea durante su visita 
                    (usando una 'cookie de sesión'), o bien, durante diferentes 
                    visitas (usando una 'cookie persitente').
                </p>
                <p>
                    Las cookies hacen muchos trabajos diferentes, como permitirle 
                    navegar entre páginas diferentes de manera eficiente, 
                    almacenando sus preferencias y generalmente mejorando su 
                    experiencia de navegación en un sitio web. Las cookies permiten que la 
                    interacción entre el visitante y el sitio web sea más fácil y más rápida. 
                    Si un sitio web no usara cookies, creería que usted es un nuevo visitante 
                    cada vez que se moviera a una nueva página dentro del mismo sitio web - 
                    por ejemplo, cuando introdujera sus datos de acceso y se moviera a 
                    otra página no se le reconocería y no lograría mantenerse conectado.
                </p>
                <p>
                    Algunos sitios web también usan cookies para dirigir sus mensajes 
                    de publicidad o de marketing basados por ejemplo, en su ubicación 
                    y/o en sus hábitos de navegación.
                </p>
                <p>
                    Las cookies pueden ser establecidas por el sitio web que 
                    está visitando (cookies de origen), o pueden ser establecidas 
                    por otro sitio web que incrusta contenido en la página que está 
                    viendo ('cookies de terceros').
                    <a href="#types"> Saber más</a>
                </p>
                <header><h4>¿Qué contiene una cookie?</h4></header>
                <p>
                    Una cookie es un simple archivo de texto que es almacenado en 
                    su ordenador o dispositivo movil por un servidor web y únicamente 
                    ese servidor logrará alcanzar o leer el contenido de esa cookie. 
                    Cada cookie es única para su navegador web. Contendrá información 
                    anónima tal como un identificador único y el nombre del sitio y algunos 
                    dígitos y números. Esto permitirá al sitio web recordar cosas como 
                    sus preferencias de navegación.
                </p>
                <header><h4>¿Qué hacer si no quiere que las cookies sean enviadas?</h4></header>
                <p>
                    Algunas personas encuentran la idea de un sitio web almacenando 
                    información en su ordenador o en su dispositivo móvil un poco 
                    intrusiva, particularmente cuando esta información es almacenada y 
                    usada por una tercera parte sin su conocimiento. Aunque esto es 
                    generalmente inofensivo, usted puede no querer que se le envie publicidad 
                    dirigida a sus intereses. Si usted lo prefiere, es posible 
                    bloquear algunas o todas las cookies, o incluso borrar las cookies 
                    que ya han sido enviadas; pero usted debe ser consciente que podría 
                    perder algunas de las funcionalidades del sitio web.
                    <a href="#manage"> Saber más</a>
                </p>
                <header id="types"><h4>Tipos de cookies</h4></header>
                <p>
                    <span class="bold">Cookies de origen</span> son enviadas por el 
                    sitio web que está visitando y sólo pueden ser leídas por ese sitio.
                </p>
                <p>
                    <span class="bold">Cookies de terceros</span> son enviadas
                    por una organización diferente al propietario del sitio web 
                    que está visitando. Por ejemplo, el sitio web podría usar los 
                    servicios de análisis de una tercera compañía que enviaría su 
                    propia cookie para realizar este servicio. El sitio web que usted 
                    está visitando podría tener contenido incrustado desde, por ejemplo 
                    YouTube o Flickr, y estos sitios podrían enviar sus propias cookies.
                </p>
                <p>
                    <span class="bold">Cookies de sesión</span> son almacenadas
                    temporalmanete durante una sesión de navegación y son borradas
                    del dispositivo del usuario cuando el navegador es cerrado.
                </p>
                <p>
                    <span class="bold">Cookies persistentes.</span> 
                    Este tipo de cookie es guardada en su ordenador durante un período 
                    fijo de tiempo (normalmente un año o más) y no es borrada cuando  
                    se cierra el navegador. Las cookies persitentes se usan cuando 
                    se necesita saber quien es usted durante más de una sesión de navegación.
                </p>
                <p>
                    <span class="bold">Flash cookies.</span> Muchos sitios web usan 
                    Adobe Flash Player para entregar vídeos y juegos a sus usuarios. 
                    Adobe utiliza sus propias cookies, que no son manejables a través 
                    de la configuración del navegador pero que son usadas por el 
                    Flash Player para propósitos similares, tales como almacenamiento 
                    de preferencias y seguimiento de usuarios.
                </p>
                <header id="manage"><h4>¿Cómo puedo controlar las cookies?</h4></header>
                <p>
                    <span class="bold">Cookies del navegador.</span> Si usted no 
                    quiere recibir cookies, puede modificar la configuración de 
                    su navegador para que ese le notifique cuando las cookies son 
                    enviadas o puede rechazar todas las cookies en su conjunto. Usted 
                    también puede borrar las cookies que ya han sido enviadas.<br/>
                    Si usted desea restringir o bloquear las cookies que son enviadas 
                    a su dispositivo, puede hacerlo a través de la configuración de 
                    su navegador; la función de Ayuda de su navegador debería decirle 
                    como hacerlo. Alternativamente usted puede visitar
                    <a href="http://www.aboutcookies.org" target="_blank">www.aboutcookies.org,</a> 
                    que contiene información completa de como hacer esto en una amplia 
                    variedad de navegadores de escritorio.
                </p>
                <p>
                    <span class="bold">Adobe flash player cookies</span> Adobe Flash Player, 
                    usado para reproducir videos a través de los navegadores web, 
                    también es capaz de almacenar información en su dispositivo. Sin embargo, 
                    estas cookies no pueden ser controladas con su navegador. Algunos fabricantes 
                    de navegadores están desarrollando soluciones para controlar estas 
                    cookies mediante su navegador, pero a día de hoy, si usted desea restringir 
                    o bloquear Flash Cookies, entonces debe hacerlo en:
                    <a href="http://www.macromedia.com/support/documentation/es/flashplayer/help/settings_manager07.html" target="_blank">Adobe website.</a><br/>
                    Tenga en cuenta que restringir el uso de Flash Cookies puede afectar a 
                    las funcionalidades disponibles del reproductor.
                </p>
                <p>
                    <span class="bold">Cookies de terceros.</span> Incrustamos videos 
                    desde sitios tales como YouTube. Las páginas con este contenido 
                    incrustado pueden presentar cookies de YouTube.
                    Usted debería consultar la página web de YouTube para obtener más 
                    información sobre sus cookies.
                </p>
                <header><h4>¿Cómo usa esta web las cookies?</h4></header>
                <p>
                    Usamos cookies que son estrictamente necesarias para que 
                    pueda moverse por el sitio o proporcionarle ciertas características 
                    básicas. Usamos cookies para mejorar la funcionalidad del sitio almacenando 
                    tus listas de recetas favoritas, por ejemplo. También usamos cookies para 
                    mejorar el rendimiento del sitio y proporcionarle una mejor experiencia de 
                    usuario.<br/>
                    Mostramos videos de YouTube por tanto este sitio web puede presentar
                    cookies de YouTube.<br/>
                    Si usted desea controlar que cookies son enviadas a su dispositivo por 
                    este sitio, usted puede leer sobre como hacerlo en la sección 
                    <a href="#manage">¿Cómo puedo controlar las cookies?</a>
                </p>
            </article>
        </div>