<div id="page" role="main">
    <div id="sinFavoritos">
        <h3>ESTA LISTA ESTÁ VACÍA</h3>
        <p>
            Aún no has añadido ninguna receta a tus favoritas. Para añadirla
            pulsa sobre la estrella en tus recetas preferidas y estarán todas juntas
            disponibles en esta vista.
        </p>
    </div>
    <article>
        <header>
            <h2>Tus recetas favoritas</h2>
        </header>
        <div class="gallery">
            <div class="item">
                <a href="#">
                    <img alt="Foto precarga" src="img/preload.jpg" />
                    <p>Receta Favorita nº1</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img alt="Foto precarga" src="img/preload.jpg" />
                    <p>Receta Favorita nº2</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img alt="Foto precarga" src="img/preload.jpg" />
                    <p>Receta Favorita nº3</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img alt="Foto precarga" src="img/preload.jpg" />
                    <p>Receta Favorita nº4</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img alt="Foto precarga" src="img/preload.jpg" />
                    <p>Receta Favorita nº5</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img alt="Foto precarga" src="img/preload.jpg" />
                    <p>Receta Favorita nº6</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img alt="Foto precarga" src="img/preload.jpg" />
                    <p>Receta Favorita nº7</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img alt="Foto precarga" src="img/preload.jpg" />
                    <p>Receta Favorita nº8</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img alt="Foto precarga" src="img/preload.jpg" />
                    <p>Receta Favorita nº9</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img alt="Foto precarga" src="img/preload.jpg" />
                    <p>Receta Favorita nº10</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img alt="Foto precarga" src="img/preload.jpg" />
                    <p>Receta Favorita nº11</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img alt="Foto precarga" src="img/preload.jpg" />
                    <p>Receta Favorita nº12</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img alt="Foto precarga" src="img/preload.jpg" />
                    <p>Receta Favorita nº13</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img alt="Foto precarga" src="img/preload.jpg" />
                    <p>Receta Favorita nº14</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img alt="Foto precarga" src="img/preload.jpg" />
                    <p>Receta Favorita nº15</p>
                </a>
            </div>
        </div>
    </article>
    <nav id="paginador">
        <button id="previous" type="button" title="Página Anterior"></button>
        <p>Pagina</p>
        <button id="next" type="button" title="Página Siguiente"></button>
    </nav>
</div>