<aside id="wrapper_cookies" class="cookies" role="complementary">
    <p>Esta web usa cookies. <a href="/cookies" title="Información sobre las cookies">Más Info</a></p>
    <button id="close_cookies" type="button" title="Cerrar">X</button>
</aside>