<footer>
    <ul id="social">
        <li class="youtube">
            <a href="https://www.youtube.com/user/manjaresadiario" target="_blank"
                title="Canal en Youtube de Manjares a Diario">YouTube</a>
        </li>
        <li class="facebook">
            <a href="https://www.facebook.com/manjaresadiario" target="_blank"
                title="Página en Facebook de Manjares a Diario">Facebook</a>
        </li>
        <li class="instagram">
            <a href="https://www.instagram.com/manjaresadiario/" target="_blank"
                title="Página en Instagram de Manjares a Diario">Instagram</a>
        </li>
        <li class="gmas">
            <a href="https://plus.google.com/104096050030357179393" target="_blank"
                title="Página en G+ de Manjares a Diario">G+</a>
        </li>
    </ul>
    <p>&copy;afgl - 2016</p>
</footer>