<nav>
    <ul id="main-nav" tabindex="0">
        <li class="brand">
            <h1><a href="/">MANJARES A DIARIO</a></h1>
        </li>
        <li>
            <button id="btn-nav" type="button"></button>
            <ul id="menu">
                <li id="listado">
                    <a href="/" title="Listado de recetas">LISTADO</a>
                </li>
                <li id="favoritos">
                    <a href="/favoritos" title="Tus recetas favoritas">FAVORITAS</a>
                </li>
                <li id="receta">
                    <a id="menuRece" href="/receta/144" title="Recetas Veganas">RECETA</a>
                </li>
                <li id="about" class="last" title="Acerca de Manjares a diario">
                    <a href="/about">SOBRE</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>