<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Manjares a Diario - Recetas Veganas</title>
        <link rel="stylesheet" type="text/css" href="/css/{{style}}">
    </head>
    <body>

        {{>cookies}}

        <header id="top">
            <h2>RECETAS DE COCINA VEGANA</h2>
        </header>

        {{>navigation}}

        {{{body}}}
        
        {{>footer}}

        <script type="text/javascript" src="/javascript/{{javascript}}"></script>
    </body>
</html>